section#news {
  box-sizing: border-box;
}
section#news .wrap {
  
  display: grid;
  grid-template-columns: 3fr 1fr 200px;
  grid-template-rows: auto auto;
}
section#news .wrap h2 {
  
  grid-column: 1 / span 2;
  grid-row: 1;
}

section#news .wrap p {
  
  grid-row: 2;
  color: grey;
}
section#news .wrap button{

  grid-column: 2;
  grid-row: 1 / span 2;
  position: relative;
  width: 0;
  height: 0;
}
section#news .wrap button img{
  
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  transform: translatex(220px);
  opacity: 0.5; 
}
section#news .wrap a{
  
  
}

section#news .wrap a img{
  
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
section#news .wrap a img:hover{
  
  background-color: yellow;
}

section#news .wrap h3 {
  
  grid-column: 4;
  grid-row: 1 / span 2;
  font-size: 25px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50px;
  width: 195px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 15px;
}
section#news .wrap h3 a {
  
}
section#news .list {
  
}
section#news .list ul {
  
}
section#news .list ul li {
  
}
section#news .list ul li img {
  
  width: 490px;
  height: 450px;
  margin: 30px;
  border-radius: 30px;
}
section#news .list ul li h4 {
  
  text-align: center;
}
section#news .list ul li p {
  
}